# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# ASAN support: shared libs needed when openvmm_hcl is dynamically linked
# (built with -Ctarget-feature=-crt-static for address sanitizer).
# Set OPENHCL_SYSROOT_LIB to the sysroot lib dir before building.
file /lib/libc.so                           ${OPENHCL_SYSROOT_LIB}/libc.so          0755 0 0
file /lib/libgcc_s.so.1                     ${OPENHCL_SYSROOT_LIB}/libgcc_s.so.1    0755 0 0
slink /lib/ld-musl-x86_64.so.1             /lib/libc.so 0755 0 0
